.title {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 700;
}
.logo {
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        color: #2E2F42;
        line-height: 1.333;
        letter-spacing: 0.03em;
}

.logo-start {
    color: #4D5AE5;
}

.navigation {
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.5;
}

.contacts {
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    color: #434455;
}
.features-nav, .team-nav, .portfolio-nav {
    color: #2E2F42;
}
.features-nav:hover, .team-nav:hover, .portfolio-nav:hover, .features-nav:focus, .team-nav:focus, .portfolio-nav:focus {
    color:#404BBF;
}
.features-nav:active {
    color: #404BBF;
    text-decoration: underline;
}
.contact-mail:hover, .contact-tel:hover, .contact-mail:focus, .contact-tel:focus {
    color: #404BBF;
}